<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>RideEasy {% block title %}{% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <!--<![endif]-->
  <link rel="stylesheet" type="text/css" href="../static/style/css/style.css">

</head>

<body>
  <nav>
    {% block nav %}

    <div class="pure-menu pure-menu-horizontal">
        <a href="/" class="pure-menu-heading">RideEASY</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/" class="pure-menu-link">Search</a></li>
            <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
            <li class="pure-menu-item"><a href="/contact" class="pure-menu-link">Contact</a></li>
        </ul>
    </div>
    {% endblock %}
  </nav>
  <script src="../static/style/animate.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsvu3vJPPUS-VZM3bb7-KII5YyjmvyhPk&signed_in=true&libraries=places&callback=initAutocomplete"
      async defer></script>
  {% block body %}
  {% endblock %}
</body>
