{% extends "base.html" %}

{% block title %} RideEasy {% endblock title %}


{% block body %}

<form method="POST">
    <fieldset>

        <div>
          <input autocomplete="on" 
          class="tactile-searchbox-input" 
          aria-haspopup="false" 
          role="combobox" 
          aria-autocomplete="both" 
          dir="ltr" spellcheck="false" style="border: none; 
          padding: 0px; margin: 0px; height: auto; width: 100%; 
          outline: none;" placeholder="Choose starting point, or click on the map...">
        </div>

        <div>
            
        </div>

        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
<script type="text/javascript">
  var input1 = document.getElementById('origin');
  var input2 = document.getElementById('destination');
var options = {componentRestrictions: {country: 'us'}};
new google.maps.places.Autocomplete(input1, options);
new google.maps.places.Autocomplete(input2, options);
</script>

        <div>
            <button type="submit" value="search">Search</button>
        </div>
    </fieldset>
</form>

<script type="text/javascript"> 
function stopRKey(evt) { 
  var evt = (evt) ? evt : ((event) ? event : null); 
  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null); 
  if ((evt.keyCode == 13) && (node.type=="text"))  {return false;} 
} 
document.onkeypress = stopRKey; 
</script>


{% endblock body %}
