{% extends "base.html" %}

{% block navlinks %}

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Search</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
{% endblock navlinks %}

{% block body %}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">RideEasy</h1>
                        <p class="intro-text">Always stuck on a crowded train? Tired of not getting a seat? Use RideEasy to plan out the least agonizing subway trip possible!</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About RideEasy</h2>
                <p>RideEasy will allow users to enter their desired trip time and destination. Based on MTA data, the tool will propose to the user the most comfortable trip possible. It will return multiple aspects of the trip that contribute to the ease of it: crowdedness, likeliness to get a seat, duration of travel.</p>
            </div>
        </div>
    </section>

    <!-- Search Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
<!---
                        <div>
                           <input id="start" name="start" type="text" placeholder="Enter your origin" name="origin" required></input>

                            <br>
                            <br>

                           <input id="end" name="end" type="text" placeholder="Enter your destination" required></input>
-->

Select your origin.
<select name="Starting Location">
<option value='Van Cortlandt Park - 242 St'> Van Cortlandt Park - 242 St </option>
<option value='238 St'> 238 St </option>
<option value='231 St'> 231 St </option>
<option value='Marble Hill - 225 St'> Marble Hill - 225 St </option>
<option value='215 St'> 215 St </option>
<option value='207 St'> 207 St </option>
<option value='Dyckman St'> Dyckman St </option>
<option value='191 St'> 191 St </option>
<option value='181 St'> 181 St </option>
<option value='168 St - Washington Hts'> 168 St - Washington Hts </option>
<option value='157 St'> 157 St </option>
<option value='145 St'> 145 St </option>
<option value='137 St - City College'> 137 St - City College </option>
<option value='125 St'> 125 St </option>
<option value='116 St - Columbia University'> 116 St - Columbia University </option>
<option value='Cathedral Pkwy'> Cathedral Pkwy </option>
<option value='103 St'> 103 St </option>
<option value='96 St'> 96 St </option>
<option value='86 St'> 86 St </option>
<option value='79 St'> 79 St </option>
<option value='72 St'> 72 St </option>
<option value='66 St - Lincoln Center'> 66 St - Lincoln Center </option>
<option value='59 St - Columbus Circle'> 59 St - Columbus Circle </option>
<option value='50 St'> 50 St </option>
<option value='Times Sq - 42 St'> Times Sq - 42 St </option>
<option value='34 St - Penn Station'> 34 St - Penn Station </option>
<option value='28 St'> 28 St </option>
<option value='23 St'> 23 St </option>
<option value='18 St'> 18 St </option>
<option value='14 St'> 14 St </option>
<option value='Christopher St - Sheridan Sq'> Christopher St - Sheridan Sq </option>
<option value='Houston St'> Houston St </option>
<option value='Canal St'> Canal St </option>
<option value='Franklin St'> Franklin St </option>
<option value='Chambers St'> Chambers St </option>
<option value='Cortlandt St'> Cortlandt St </option>
<option value='Rector St'> Rector St </option>
<option value='South Ferry Loop'> South Ferry Loop </option>
<option value='Wakefield - 241 St'> Wakefield - 241 St </option>
<option value='Nereid Av'> Nereid Av </option>
<option value='233 St'> 233 St </option>
<option value='225 St'> 225 St </option>
<option value='219 St'> 219 St </option>
<option value='Gun Hill Rd'> Gun Hill Rd </option>
<option value='Burke Av'> Burke Av </option>
<option value='Allerton Av'> Allerton Av </option>
<option value='Pelham Pkwy'> Pelham Pkwy </option>
<option value='Bronx Park East'> Bronx Park East </option>
<option value='E 180 St'> E 180 St </option>
<option value='West Farms Sq - E Tremont Av'> West Farms Sq - E Tremont Av </option>
<option value='174 St'> 174 St </option>
<option value='Freeman St'> Freeman St </option>
<option value='Simpson St'> Simpson St </option>
<option value='Intervale Av'> Intervale Av </option>
<option value='Prospect Av'> Prospect Av </option>
<option value='Jackson Av'> Jackson Av </option>
<option value='3 Av - 149 St'> 3 Av - 149 St </option>
<option value='149 St - Grand Concourse'> 149 St - Grand Concourse </option>
<option value='135 St'> 135 St </option>
<option value='116 St'> 116 St </option>
<option value='Central Park North (110 St)'> Central Park North (110 St) </option>
<option value='Park Pl'> Park Pl </option>
<option value='Fulton St'> Fulton St </option>
<option value='Wall St'> Wall St </option>
<option value='Clark St'> Clark St </option>
<option value='Borough Hall'> Borough Hall </option>
<option value='Hoyt St'> Hoyt St </option>
<option value='Nevins St'> Nevins St </option>
<option value='Atlantic Av - Barclays Ctr'> Atlantic Av - Barclays Ctr </option>
<option value='Bergen St'> Bergen St </option>
<option value='Grand Army Plaza'> Grand Army Plaza </option>
<option value='Eastern Pkwy - Brooklyn Museum'> Eastern Pkwy - Brooklyn Museum </option>
<option value='Franklin Av'> Franklin Av </option>
<option value='President St'> President St </option>
<option value='Sterling St'> Sterling St </option>
<option value='Winthrop St'> Winthrop St </option>
<option value='Church Av'> Church Av </option>
<option value='Beverly Rd'> Beverly Rd </option>
<option value='Newkirk Av'> Newkirk Av </option>
<option value='Flatbush Av - Brooklyn College'> Flatbush Av - Brooklyn College </option>
<option value='Nostrand Av'> Nostrand Av </option>
<option value='Kingston Av'> Kingston Av </option>
<option value='Crown Hts - Utica Av'> Crown Hts - Utica Av </option>
<option value='Sutter Av - Rutland Rd'> Sutter Av - Rutland Rd </option>
<option value='Saratoga Av'> Saratoga Av </option>
<option value='Rockaway Av'> Rockaway Av </option>
<option value='Junius St'> Junius St </option>
<option value='Pennsylvania Av'> Pennsylvania Av </option>
<option value='Van Siclen Av'> Van Siclen Av </option>
<option value='New Lots Av'> New Lots Av </option>
<option value='Harlem - 148 St'> Harlem - 148 St </option>
<option value='Woodlawn'> Woodlawn </option>
<option value='Mosholu Pkwy'> Mosholu Pkwy </option>
<option value='Bedford Park Blvd - Lehman College'> Bedford Park Blvd - Lehman College </option>
<option value='Kingsbridge Rd'> Kingsbridge Rd </option>
<option value='Fordham Rd'> Fordham Rd </option>
<option value='183 St'> 183 St </option>
<option value='Burnside Av'> Burnside Av </option>
<option value='176 St'> 176 St </option>
<option value='Mt Eden Av'> Mt Eden Av </option>
<option value='170 St'> 170 St </option>
<option value='167 St'> 167 St </option>
<option value='161 St - Yankee Stadium'> 161 St - Yankee Stadium </option>
<option value='138 St - Grand Concourse'> 138 St - Grand Concourse </option>
<option value='Bowling Green'> Bowling Green </option>
<option value='Eastchester - Dyre Av'> Eastchester - Dyre Av </option>
<option value='Baychester Av'> Baychester Av </option>
<option value='Morris Park'> Morris Park </option>
<option value='Pelham Bay Park'> Pelham Bay Park </option>
<option value='Buhre Av'> Buhre Av </option>
<option value='Middletown Rd'> Middletown Rd </option>
<option value='Westchester Sq - E Tremont Av'> Westchester Sq - E Tremont Av </option>
<option value='Zerega Av'> Zerega Av </option>
<option value='Castle Hill Av'> Castle Hill Av </option>
<option value='Parkchester'> Parkchester </option>
<option value='St Lawrence Av'> St Lawrence Av </option>
<option value='Morrison Av- Sound View'> Morrison Av- Sound View </option>
<option value='Elder Av'> Elder Av </option>
<option value='Whitlock Av'> Whitlock Av </option>
<option value='Hunts Point Av'> Hunts Point Av </option>
<option value='Longwood Av'> Longwood Av </option>
<option value='E 149 St'> E 149 St </option>
<option value='E 143 St - St Mary's St'> E 143 St - St Mary's St </option>
<option value='Cypress Av'> Cypress Av </option>
<option value='Brook Av'> Brook Av </option>
<option value='3 Av - 138 St'> 3 Av - 138 St </option>
<option value='110 St'> 110 St </option>
<option value='77 St'> 77 St </option>
<option value='68 St - Hunter College'> 68 St - Hunter College </option>
<option value='59 St'> 59 St </option>
<option value='51 St'> 51 St </option>
<option value='Grand Central - 42 St'> Grand Central - 42 St </option>
<option value='33 St'> 33 St </option>
<option value='14 St - Union Sq'> 14 St - Union Sq </option>
<option value='Astor Pl'> Astor Pl </option>
<option value='Bleecker St'> Bleecker St </option>
<option value='Spring St'> Spring St </option>
<option value='Brooklyn Bridge - City Hall'> Brooklyn Bridge - City Hall </option>
<option value='Flushing - Main St'> Flushing - Main St </option>
<option value='Mets - Willets Point'> Mets - Willets Point </option>
<option value='111 St'> 111 St </option>
<option value='103 St - Corona Plaza'> 103 St - Corona Plaza </option>
<option value='Junction Blvd'> Junction Blvd </option>
<option value='90 St - Elmhurst Av'> 90 St - Elmhurst Av </option>
<option value='82 St - Jackson Hts'> 82 St - Jackson Hts </option>
<option value='74 St - Broadway'> 74 St - Broadway </option>
<option value='69 St'> 69 St </option>
<option value='Woodside - 61 St'> Woodside - 61 St </option>
<option value='52 St'> 52 St </option>
<option value='46 St'> 46 St </option>
<option value='40 St'> 40 St </option>
<option value='Queensboro Plaza'> Queensboro Plaza </option>
<option value='Court Sq'> Court Sq </option>
<option value='Hunters Point Av'> Hunters Point Av </option>
<option value='Vernon Blvd - Jackson Av'> Vernon Blvd - Jackson Av </option>
<option value='5 Av'> 5 Av </option>
<option value='34 St - 11 Av'> 34 St - 11 Av </option>
<option value='Inwood - 207 St'> Inwood - 207 St </option>
<option value='190 St'> 190 St </option>
<option value='175 St'> 175 St </option>
<option value='168 St'> 168 St </option>
<option value='163 St - Amsterdam Av'> 163 St - Amsterdam Av </option>
<option value='155 St'> 155 St </option>
<option value='Cathedral Pkwy (110 St)'> Cathedral Pkwy (110 St) </option>
<option value='81 St - Museum of Natural History'> 81 St - Museum of Natural History </option>
<option value='42 St - Port Authority Bus Terminal'> 42 St - Port Authority Bus Terminal </option>
<option value='W 4 St'> W 4 St </option>
<option value='High St'> High St </option>
<option value='Jay St - MetroTech'> Jay St - MetroTech </option>
<option value='Hoyt - Schermerhorn Sts'> Hoyt - Schermerhorn Sts </option>
<option value='Lafayette Av'> Lafayette Av </option>
<option value='Clinton - Washington Avs'> Clinton - Washington Avs </option>
<option value='Kingston - Throop Avs'> Kingston - Throop Avs </option>
<option value='Utica Av'> Utica Av </option>
<option value='Ralph Av'> Ralph Av </option>
<option value='Broadway Jct'> Broadway Jct </option>
<option value='Liberty Av'> Liberty Av </option>
<option value='Shepherd Av'> Shepherd Av </option>
<option value='Euclid Av'> Euclid Av </option>
<option value='Grant Av'> Grant Av </option>
<option value='80 St'> 80 St </option>
<option value='88 St'> 88 St </option>
<option value='Rockaway Blvd'> Rockaway Blvd </option>
<option value='104 St'> 104 St </option>
<option value='Ozone Park - Lefferts Blvd'> Ozone Park - Lefferts Blvd </option>
<option value='21 St - Queensbridge'> 21 St - Queensbridge </option>
<option value='Roosevelt Island'> Roosevelt Island </option>
<option value='Lexington Av/63 St'> Lexington Av/63 St </option>
<option value='57 St'> 57 St </option>
<option value='9 Av'> 9 Av </option>
<option value='Fort Hamilton Pkwy'> Fort Hamilton Pkwy </option>
<option value='55 St'> 55 St </option>
<option value='62 St'> 62 St </option>
<option value='71 St'> 71 St </option>
<option value='18 Av'> 18 Av </option>
<option value='20 Av'> 20 Av </option>
<option value='Bay Pkwy'> Bay Pkwy </option>
<option value='25 Av'> 25 Av </option>
<option value='Bay 50 St'> Bay 50 St </option>
<option value='Norwood - 205 St'> Norwood - 205 St </option>
<option value='Bedford Park Blvd'> Bedford Park Blvd </option>
<option value='182-183 Sts'> 182-183 Sts </option>
<option value='Tremont Av'> Tremont Av </option>
<option value='174-175 Sts'> 174-175 Sts </option>
<option value='7 Av'> 7 Av </option>
<option value='47-50 Sts - Rockefeller Ctr'> 47-50 Sts - Rockefeller Ctr </option>
<option value='42 St - Bryant Pk'> 42 St - Bryant Pk </option>
<option value='34 St - Herald Sq'> 34 St - Herald Sq </option>
<option value='Broadway-Lafayette St'> Broadway-Lafayette St </option>
<option value='Grand St'> Grand St </option>
<option value='Prospect Park'> Prospect Park </option>
<option value='Parkside Av'> Parkside Av </option>
<option value='Beverley Rd'> Beverley Rd </option>
<option value='Cortelyou Rd'> Cortelyou Rd </option>
<option value='Newkirk Plaza'> Newkirk Plaza </option>
<option value='Avenue H'> Avenue H </option>
<option value='Avenue J'> Avenue J </option>
<option value='Avenue M'> Avenue M </option>
<option value='Kings Hwy'> Kings Hwy </option>
<option value='Avenue U'> Avenue U </option>
<option value='Neck Rd'> Neck Rd </option>
<option value='Sheepshead Bay'> Sheepshead Bay </option>
<option value='Brighton Beach'> Brighton Beach </option>
<option value='Ocean Pkwy'> Ocean Pkwy </option>
<option value='W 8 St - NY Aquarium'> W 8 St - NY Aquarium </option>
<option value='Coney Island - Stillwell Av'> Coney Island - Stillwell Av </option>
<option value='World Trade Center'> World Trade Center </option>
<option value='Jamaica - 179 St'> Jamaica - 179 St </option>
<option value='169 St'> 169 St </option>
<option value='Parsons Blvd'> Parsons Blvd </option>
<option value='Sutphin Blvd'> Sutphin Blvd </option>
<option value='Briarwood - Van Wyck Blvd'> Briarwood - Van Wyck Blvd </option>
<option value='Kew Gardens - Union Tpke'> Kew Gardens - Union Tpke </option>
<option value='75 Av'> 75 Av </option>
<option value='Lexington Av/53 St'> Lexington Av/53 St </option>
<option value='5 Av/53 St'> 5 Av/53 St </option>
<option value='2 Av'> 2 Av </option>
<option value='Delancey St'> Delancey St </option>
<option value='East Broadway'> East Broadway </option>
<option value='York St'> York St </option>
<option value='Carroll St'> Carroll St </option>
<option value='Smith - 9 Sts'> Smith - 9 Sts </option>
<option value='4 Av'> 4 Av </option>
<option value='15 St - Prospect Park'> 15 St - Prospect Park </option>
<option value='Ditmas Av'> Ditmas Av </option>
<option value='Avenue I'> Avenue I </option>
<option value='Avenue N'> Avenue N </option>
<option value='Avenue P'> Avenue P </option>
<option value='Avenue X'> Avenue X </option>
<option value='Neptune Av'> Neptune Av </option>
<option value='Jamaica Center - Parsons/Archer'> Jamaica Center - Parsons/Archer </option>
<option value='Sutphin Blvd - Archer Av - JFK Airport'> Sutphin Blvd - Archer Av - JFK Airport </option>
<option value='Jamaica - Van Wyck'> Jamaica - Van Wyck </option>
<option value='Forest Hills - 71 Av'> Forest Hills - 71 Av </option>
<option value='67 Av'> 67 Av </option>
<option value='63 Dr - Rego Park'> 63 Dr - Rego Park </option>
<option value='Woodhaven Blvd'> Woodhaven Blvd </option>
<option value='Grand Av - Newtown'> Grand Av - Newtown </option>
<option value='Elmhurst Av'> Elmhurst Av </option>
<option value='Jackson Hts - Roosevelt Av'> Jackson Hts - Roosevelt Av </option>
<option value='65 St'> 65 St </option>
<option value='Northern Blvd'> Northern Blvd </option>
<option value='Steinway St'> Steinway St </option>
<option value='36 St'> 36 St </option>
<option value='Queens Plaza'> Queens Plaza </option>
<option value='21 St'> 21 St </option>
<option value='Greenpoint Av'> Greenpoint Av </option>
<option value='Nassau Av'> Nassau Av </option>
<option value='Metropolitan Av'> Metropolitan Av </option>
<option value='Broadway'> Broadway </option>
<option value='Flushing Av'> Flushing Av </option>
<option value='Myrtle - Willoughby Avs'> Myrtle - Willoughby Avs </option>
<option value='Bedford - Nostrand Avs'> Bedford - Nostrand Avs </option>
<option value='Classon Av'> Classon Av </option>
<option value='Aqueduct Racetrack'> Aqueduct Racetrack </option>
<option value='Aqueduct - N Conduit Av'> Aqueduct - N Conduit Av </option>
<option value='Howard Beach - JFK Airport'> Howard Beach - JFK Airport </option>
<option value='Broad Channel'> Broad Channel </option>
<option value='Beach 67 St'> Beach 67 St </option>
<option value='Beach 60 St'> Beach 60 St </option>
<option value='Beach 44 St'> Beach 44 St </option>
<option value='Beach 36 St'> Beach 36 St </option>
<option value='Beach 25 St'> Beach 25 St </option>
<option value='Far Rockaway - Mott Av'> Far Rockaway - Mott Av </option>
<option value='Beach 90 St'> Beach 90 St </option>
<option value='Beach 98 St'> Beach 98 St </option>
<option value='Beach 105 St'> Beach 105 St </option>
<option value='Rockaway Park - Beach 116 St'> Rockaway Park - Beach 116 St </option>
<option value='121 St'> 121 St </option>
<option value='85 St - Forest Pkwy'> 85 St - Forest Pkwy </option>
<option value='75 St'> 75 St </option>
<option value='Cypress Hills'> Cypress Hills </option>
<option value='Crescent St'> Crescent St </option>
<option value='Norwood Av'> Norwood Av </option>
<option value='Cleveland St'> Cleveland St </option>
<option value='Alabama Av'> Alabama Av </option>
<option value='Chauncey St'> Chauncey St </option>
<option value='Halsey St'> Halsey St </option>
<option value='Gates Av'> Gates Av </option>
<option value='Kosciuszko St'> Kosciuszko St </option>
<option value='8 Av'> 8 Av </option>
<option value='6 Av'> 6 Av </option>
<option value='Union Sq - 14 St'> Union Sq - 14 St </option>
<option value='3 Av'> 3 Av </option>
<option value='1 Av'> 1 Av </option>
<option value='Bedford Av'> Bedford Av </option>
<option value='Lorimer St'> Lorimer St </option>
<option value='Graham Av'> Graham Av </option>
<option value='Montrose Av'> Montrose Av </option>
<option value='Morgan Av'> Morgan Av </option>
<option value='Jefferson St'> Jefferson St </option>
<option value='DeKalb Av'> DeKalb Av </option>
<option value='Myrtle - Wyckoff Avs'> Myrtle - Wyckoff Avs </option>
<option value='Wilson Av'> Wilson Av </option>
<option value='Bushwick Av - Aberdeen St'> Bushwick Av - Aberdeen St </option>
<option value='Atlantic Av'> Atlantic Av </option>
<option value='Sutter Av'> Sutter Av </option>
<option value='Livonia Av'> Livonia Av </option>
<option value='E 105 St'> E 105 St </option>
<option value='Canarsie - Rockaway Pkwy'> Canarsie - Rockaway Pkwy </option>
<option value='Middle Village - Metropolitan Av'> Middle Village - Metropolitan Av </option>
<option value='Fresh Pond Rd'> Fresh Pond Rd </option>
<option value='Forest Av'> Forest Av </option>
<option value='Seneca Av'> Seneca Av </option>
<option value='Knickerbocker Av'> Knickerbocker Av </option>
<option value='Central Av'> Central Av </option>
<option value='Myrtle Av'> Myrtle Av </option>
<option value='Hewes St'> Hewes St </option>
<option value='Marcy Av'> Marcy Av </option>
<option value='Essex St'> Essex St </option>
<option value='Bowery'> Bowery </option>
<option value='Broad St'> Broad St </option>
<option value='New Utrecht Av'> New Utrecht Av </option>
<option value='Astoria - Ditmars Blvd'> Astoria - Ditmars Blvd </option>
<option value='Astoria Blvd'> Astoria Blvd </option>
<option value='30 Av'> 30 Av </option>
<option value='36 Av'> 36 Av </option>
<option value='39 Av'> 39 Av </option>
<option value='Lexington Av/59 St'> Lexington Av/59 St </option>
<option value='5 Av/59 St'> 5 Av/59 St </option>
<option value='57 St - 7 Av'> 57 St - 7 Av </option>
<option value='49 St'> 49 St </option>
<option value='8 St - NYU'> 8 St - NYU </option>
<option value='Prince St'> Prince St </option>
<option value='City Hall'> City Hall </option>
<option value='Whitehall St'> Whitehall St </option>
<option value='Court St'> Court St </option>
<option value='Union St'> Union St </option>
<option value='9 St'> 9 St </option>
<option value='25 St'> 25 St </option>
<option value='45 St'> 45 St </option>
<option value='53 St'> 53 St </option>
<option value='Bay Ridge Av'> Bay Ridge Av </option>
<option value='Bay Ridge - 95 St'> Bay Ridge - 95 St </option>
<option value='Botanic Garden'> Botanic Garden </option>
<option value='Tottenville'> Tottenville </option>
<option value='Atlantic'> Atlantic </option>
<option value='Nassau'> Nassau </option>
<option value='Richmond Valley'> Richmond Valley </option>
<option value='Pleasant Plains'> Pleasant Plains </option>
<option value='Prince's Bay'> Prince's Bay </option>
<option value='Huguenot'> Huguenot </option>
<option value='Annadale'> Annadale </option>
<option value='Eltingville'> Eltingville </option>
<option value='Great Kills'> Great Kills </option>
<option value='Bay Terrace'> Bay Terrace </option>
<option value='Oakwood Heights'> Oakwood Heights </option>
<option value='New Dorp'> New Dorp </option>
<option value='Grant City'> Grant City </option>
<option value='Jefferson Av'> Jefferson Av </option>
<option value='Dongan Hills'> Dongan Hills </option>
<option value='Old Town'> Old Town </option>
<option value='Grasmere'> Grasmere </option>
<option value='Clifton'> Clifton </option>
<option value='Stapleton'> Stapleton </option>
<option value='Tompkinsville'> Tompkinsville </option>
<option value='St George'> St George </option>
</select>

<br><br>
Select your destination.
<select>
<option value='Van Cortlandt Park - 242 St'> Van Cortlandt Park - 242 St </option>
<option value='238 St'> 238 St </option>
<option value='231 St'> 231 St </option>
<option value='Marble Hill - 225 St'> Marble Hill - 225 St </option>
<option value='215 St'> 215 St </option>
<option value='207 St'> 207 St </option>
<option value='Dyckman St'> Dyckman St </option>
<option value='191 St'> 191 St </option>
<option value='181 St'> 181 St </option>
<option value='168 St - Washington Hts'> 168 St - Washington Hts </option>
<option value='157 St'> 157 St </option>
<option value='145 St'> 145 St </option>
<option value='137 St - City College'> 137 St - City College </option>
<option value='125 St'> 125 St </option>
<option value='116 St - Columbia University'> 116 St - Columbia University </option>
<option value='Cathedral Pkwy'> Cathedral Pkwy </option>
<option value='103 St'> 103 St </option>
<option value='96 St'> 96 St </option>
<option value='86 St'> 86 St </option>
<option value='79 St'> 79 St </option>
<option value='72 St'> 72 St </option>
<option value='66 St - Lincoln Center'> 66 St - Lincoln Center </option>
<option value='59 St - Columbus Circle'> 59 St - Columbus Circle </option>
<option value='50 St'> 50 St </option>
<option value='Times Sq - 42 St'> Times Sq - 42 St </option>
<option value='34 St - Penn Station'> 34 St - Penn Station </option>
<option value='28 St'> 28 St </option>
<option value='23 St'> 23 St </option>
<option value='18 St'> 18 St </option>
<option value='14 St'> 14 St </option>
<option value='Christopher St - Sheridan Sq'> Christopher St - Sheridan Sq </option>
<option value='Houston St'> Houston St </option>
<option value='Canal St'> Canal St </option>
<option value='Franklin St'> Franklin St </option>
<option value='Chambers St'> Chambers St </option>
<option value='Cortlandt St'> Cortlandt St </option>
<option value='Rector St'> Rector St </option>
<option value='South Ferry Loop'> South Ferry Loop </option>
<option value='Wakefield - 241 St'> Wakefield - 241 St </option>
<option value='Nereid Av'> Nereid Av </option>
<option value='233 St'> 233 St </option>
<option value='225 St'> 225 St </option>
<option value='219 St'> 219 St </option>
<option value='Gun Hill Rd'> Gun Hill Rd </option>
<option value='Burke Av'> Burke Av </option>
<option value='Allerton Av'> Allerton Av </option>
<option value='Pelham Pkwy'> Pelham Pkwy </option>
<option value='Bronx Park East'> Bronx Park East </option>
<option value='E 180 St'> E 180 St </option>
<option value='West Farms Sq - E Tremont Av'> West Farms Sq - E Tremont Av </option>
<option value='174 St'> 174 St </option>
<option value='Freeman St'> Freeman St </option>
<option value='Simpson St'> Simpson St </option>
<option value='Intervale Av'> Intervale Av </option>
<option value='Prospect Av'> Prospect Av </option>
<option value='Jackson Av'> Jackson Av </option>
<option value='3 Av - 149 St'> 3 Av - 149 St </option>
<option value='149 St - Grand Concourse'> 149 St - Grand Concourse </option>
<option value='135 St'> 135 St </option>
<option value='116 St'> 116 St </option>
<option value='Central Park North (110 St)'> Central Park North (110 St) </option>
<option value='Park Pl'> Park Pl </option>
<option value='Fulton St'> Fulton St </option>
<option value='Wall St'> Wall St </option>
<option value='Clark St'> Clark St </option>
<option value='Borough Hall'> Borough Hall </option>
<option value='Hoyt St'> Hoyt St </option>
<option value='Nevins St'> Nevins St </option>
<option value='Atlantic Av - Barclays Ctr'> Atlantic Av - Barclays Ctr </option>
<option value='Bergen St'> Bergen St </option>
<option value='Grand Army Plaza'> Grand Army Plaza </option>
<option value='Eastern Pkwy - Brooklyn Museum'> Eastern Pkwy - Brooklyn Museum </option>
<option value='Franklin Av'> Franklin Av </option>
<option value='President St'> President St </option>
<option value='Sterling St'> Sterling St </option>
<option value='Winthrop St'> Winthrop St </option>
<option value='Church Av'> Church Av </option>
<option value='Beverly Rd'> Beverly Rd </option>
<option value='Newkirk Av'> Newkirk Av </option>
<option value='Flatbush Av - Brooklyn College'> Flatbush Av - Brooklyn College </option>
<option value='Nostrand Av'> Nostrand Av </option>
<option value='Kingston Av'> Kingston Av </option>
<option value='Crown Hts - Utica Av'> Crown Hts - Utica Av </option>
<option value='Sutter Av - Rutland Rd'> Sutter Av - Rutland Rd </option>
<option value='Saratoga Av'> Saratoga Av </option>
<option value='Rockaway Av'> Rockaway Av </option>
<option value='Junius St'> Junius St </option>
<option value='Pennsylvania Av'> Pennsylvania Av </option>
<option value='Van Siclen Av'> Van Siclen Av </option>
<option value='New Lots Av'> New Lots Av </option>
<option value='Harlem - 148 St'> Harlem - 148 St </option>
<option value='Woodlawn'> Woodlawn </option>
<option value='Mosholu Pkwy'> Mosholu Pkwy </option>
<option value='Bedford Park Blvd - Lehman College'> Bedford Park Blvd - Lehman College </option>
<option value='Kingsbridge Rd'> Kingsbridge Rd </option>
<option value='Fordham Rd'> Fordham Rd </option>
<option value='183 St'> 183 St </option>
<option value='Burnside Av'> Burnside Av </option>
<option value='176 St'> 176 St </option>
<option value='Mt Eden Av'> Mt Eden Av </option>
<option value='170 St'> 170 St </option>
<option value='167 St'> 167 St </option>
<option value='161 St - Yankee Stadium'> 161 St - Yankee Stadium </option>
<option value='138 St - Grand Concourse'> 138 St - Grand Concourse </option>
<option value='Bowling Green'> Bowling Green </option>
<option value='Eastchester - Dyre Av'> Eastchester - Dyre Av </option>
<option value='Baychester Av'> Baychester Av </option>
<option value='Morris Park'> Morris Park </option>
<option value='Pelham Bay Park'> Pelham Bay Park </option>
<option value='Buhre Av'> Buhre Av </option>
<option value='Middletown Rd'> Middletown Rd </option>
<option value='Westchester Sq - E Tremont Av'> Westchester Sq - E Tremont Av </option>
<option value='Zerega Av'> Zerega Av </option>
<option value='Castle Hill Av'> Castle Hill Av </option>
<option value='Parkchester'> Parkchester </option>
<option value='St Lawrence Av'> St Lawrence Av </option>
<option value='Morrison Av- Sound View'> Morrison Av- Sound View </option>
<option value='Elder Av'> Elder Av </option>
<option value='Whitlock Av'> Whitlock Av </option>
<option value='Hunts Point Av'> Hunts Point Av </option>
<option value='Longwood Av'> Longwood Av </option>
<option value='E 149 St'> E 149 St </option>
<option value='E 143 St - St Mary's St'> E 143 St - St Mary's St </option>
<option value='Cypress Av'> Cypress Av </option>
<option value='Brook Av'> Brook Av </option>
<option value='3 Av - 138 St'> 3 Av - 138 St </option>
<option value='110 St'> 110 St </option>
<option value='77 St'> 77 St </option>
<option value='68 St - Hunter College'> 68 St - Hunter College </option>
<option value='59 St'> 59 St </option>
<option value='51 St'> 51 St </option>
<option value='Grand Central - 42 St'> Grand Central - 42 St </option>
<option value='33 St'> 33 St </option>
<option value='14 St - Union Sq'> 14 St - Union Sq </option>
<option value='Astor Pl'> Astor Pl </option>
<option value='Bleecker St'> Bleecker St </option>
<option value='Spring St'> Spring St </option>
<option value='Brooklyn Bridge - City Hall'> Brooklyn Bridge - City Hall </option>
<option value='Flushing - Main St'> Flushing - Main St </option>
<option value='Mets - Willets Point'> Mets - Willets Point </option>
<option value='111 St'> 111 St </option>
<option value='103 St - Corona Plaza'> 103 St - Corona Plaza </option>
<option value='Junction Blvd'> Junction Blvd </option>
<option value='90 St - Elmhurst Av'> 90 St - Elmhurst Av </option>
<option value='82 St - Jackson Hts'> 82 St - Jackson Hts </option>
<option value='74 St - Broadway'> 74 St - Broadway </option>
<option value='69 St'> 69 St </option>
<option value='Woodside - 61 St'> Woodside - 61 St </option>
<option value='52 St'> 52 St </option>
<option value='46 St'> 46 St </option>
<option value='40 St'> 40 St </option>
<option value='Queensboro Plaza'> Queensboro Plaza </option>
<option value='Court Sq'> Court Sq </option>
<option value='Hunters Point Av'> Hunters Point Av </option>
<option value='Vernon Blvd - Jackson Av'> Vernon Blvd - Jackson Av </option>
<option value='5 Av'> 5 Av </option>
<option value='34 St - 11 Av'> 34 St - 11 Av </option>
<option value='Inwood - 207 St'> Inwood - 207 St </option>
<option value='190 St'> 190 St </option>
<option value='175 St'> 175 St </option>
<option value='168 St'> 168 St </option>
<option value='163 St - Amsterdam Av'> 163 St - Amsterdam Av </option>
<option value='155 St'> 155 St </option>
<option value='Cathedral Pkwy (110 St)'> Cathedral Pkwy (110 St) </option>
<option value='81 St - Museum of Natural History'> 81 St - Museum of Natural History </option>
<option value='42 St - Port Authority Bus Terminal'> 42 St - Port Authority Bus Terminal </option>
<option value='W 4 St'> W 4 St </option>
<option value='High St'> High St </option>
<option value='Jay St - MetroTech'> Jay St - MetroTech </option>
<option value='Hoyt - Schermerhorn Sts'> Hoyt - Schermerhorn Sts </option>
<option value='Lafayette Av'> Lafayette Av </option>
<option value='Clinton - Washington Avs'> Clinton - Washington Avs </option>
<option value='Kingston - Throop Avs'> Kingston - Throop Avs </option>
<option value='Utica Av'> Utica Av </option>
<option value='Ralph Av'> Ralph Av </option>
<option value='Broadway Jct'> Broadway Jct </option>
<option value='Liberty Av'> Liberty Av </option>
<option value='Shepherd Av'> Shepherd Av </option>
<option value='Euclid Av'> Euclid Av </option>
<option value='Grant Av'> Grant Av </option>
<option value='80 St'> 80 St </option>
<option value='88 St'> 88 St </option>
<option value='Rockaway Blvd'> Rockaway Blvd </option>
<option value='104 St'> 104 St </option>
<option value='Ozone Park - Lefferts Blvd'> Ozone Park - Lefferts Blvd </option>
<option value='21 St - Queensbridge'> 21 St - Queensbridge </option>
<option value='Roosevelt Island'> Roosevelt Island </option>
<option value='Lexington Av/63 St'> Lexington Av/63 St </option>
<option value='57 St'> 57 St </option>
<option value='9 Av'> 9 Av </option>
<option value='Fort Hamilton Pkwy'> Fort Hamilton Pkwy </option>
<option value='55 St'> 55 St </option>
<option value='62 St'> 62 St </option>
<option value='71 St'> 71 St </option>
<option value='18 Av'> 18 Av </option>
<option value='20 Av'> 20 Av </option>
<option value='Bay Pkwy'> Bay Pkwy </option>
<option value='25 Av'> 25 Av </option>
<option value='Bay 50 St'> Bay 50 St </option>
<option value='Norwood - 205 St'> Norwood - 205 St </option>
<option value='Bedford Park Blvd'> Bedford Park Blvd </option>
<option value='182-183 Sts'> 182-183 Sts </option>
<option value='Tremont Av'> Tremont Av </option>
<option value='174-175 Sts'> 174-175 Sts </option>
<option value='7 Av'> 7 Av </option>
<option value='47-50 Sts - Rockefeller Ctr'> 47-50 Sts - Rockefeller Ctr </option>
<option value='42 St - Bryant Pk'> 42 St - Bryant Pk </option>
<option value='34 St - Herald Sq'> 34 St - Herald Sq </option>
<option value='Broadway-Lafayette St'> Broadway-Lafayette St </option>
<option value='Grand St'> Grand St </option>
<option value='Prospect Park'> Prospect Park </option>
<option value='Parkside Av'> Parkside Av </option>
<option value='Beverley Rd'> Beverley Rd </option>
<option value='Cortelyou Rd'> Cortelyou Rd </option>
<option value='Newkirk Plaza'> Newkirk Plaza </option>
<option value='Avenue H'> Avenue H </option>
<option value='Avenue J'> Avenue J </option>
<option value='Avenue M'> Avenue M </option>
<option value='Kings Hwy'> Kings Hwy </option>
<option value='Avenue U'> Avenue U </option>
<option value='Neck Rd'> Neck Rd </option>
<option value='Sheepshead Bay'> Sheepshead Bay </option>
<option value='Brighton Beach'> Brighton Beach </option>
<option value='Ocean Pkwy'> Ocean Pkwy </option>
<option value='W 8 St - NY Aquarium'> W 8 St - NY Aquarium </option>
<option value='Coney Island - Stillwell Av'> Coney Island - Stillwell Av </option>
<option value='World Trade Center'> World Trade Center </option>
<option value='Jamaica - 179 St'> Jamaica - 179 St </option>
<option value='169 St'> 169 St </option>
<option value='Parsons Blvd'> Parsons Blvd </option>
<option value='Sutphin Blvd'> Sutphin Blvd </option>
<option value='Briarwood - Van Wyck Blvd'> Briarwood - Van Wyck Blvd </option>
<option value='Kew Gardens - Union Tpke'> Kew Gardens - Union Tpke </option>
<option value='75 Av'> 75 Av </option>
<option value='Lexington Av/53 St'> Lexington Av/53 St </option>
<option value='5 Av/53 St'> 5 Av/53 St </option>
<option value='2 Av'> 2 Av </option>
<option value='Delancey St'> Delancey St </option>
<option value='East Broadway'> East Broadway </option>
<option value='York St'> York St </option>
<option value='Carroll St'> Carroll St </option>
<option value='Smith - 9 Sts'> Smith - 9 Sts </option>
<option value='4 Av'> 4 Av </option>
<option value='15 St - Prospect Park'> 15 St - Prospect Park </option>
<option value='Ditmas Av'> Ditmas Av </option>
<option value='Avenue I'> Avenue I </option>
<option value='Avenue N'> Avenue N </option>
<option value='Avenue P'> Avenue P </option>
<option value='Avenue X'> Avenue X </option>
<option value='Neptune Av'> Neptune Av </option>
<option value='Jamaica Center - Parsons/Archer'> Jamaica Center - Parsons/Archer </option>
<option value='Sutphin Blvd - Archer Av - JFK Airport'> Sutphin Blvd - Archer Av - JFK Airport </option>
<option value='Jamaica - Van Wyck'> Jamaica - Van Wyck </option>
<option value='Forest Hills - 71 Av'> Forest Hills - 71 Av </option>
<option value='67 Av'> 67 Av </option>
<option value='63 Dr - Rego Park'> 63 Dr - Rego Park </option>
<option value='Woodhaven Blvd'> Woodhaven Blvd </option>
<option value='Grand Av - Newtown'> Grand Av - Newtown </option>
<option value='Elmhurst Av'> Elmhurst Av </option>
<option value='Jackson Hts - Roosevelt Av'> Jackson Hts - Roosevelt Av </option>
<option value='65 St'> 65 St </option>
<option value='Northern Blvd'> Northern Blvd </option>
<option value='Steinway St'> Steinway St </option>
<option value='36 St'> 36 St </option>
<option value='Queens Plaza'> Queens Plaza </option>
<option value='21 St'> 21 St </option>
<option value='Greenpoint Av'> Greenpoint Av </option>
<option value='Nassau Av'> Nassau Av </option>
<option value='Metropolitan Av'> Metropolitan Av </option>
<option value='Broadway'> Broadway </option>
<option value='Flushing Av'> Flushing Av </option>
<option value='Myrtle - Willoughby Avs'> Myrtle - Willoughby Avs </option>
<option value='Bedford - Nostrand Avs'> Bedford - Nostrand Avs </option>
<option value='Classon Av'> Classon Av </option>
<option value='Aqueduct Racetrack'> Aqueduct Racetrack </option>
<option value='Aqueduct - N Conduit Av'> Aqueduct - N Conduit Av </option>
<option value='Howard Beach - JFK Airport'> Howard Beach - JFK Airport </option>
<option value='Broad Channel'> Broad Channel </option>
<option value='Beach 67 St'> Beach 67 St </option>
<option value='Beach 60 St'> Beach 60 St </option>
<option value='Beach 44 St'> Beach 44 St </option>
<option value='Beach 36 St'> Beach 36 St </option>
<option value='Beach 25 St'> Beach 25 St </option>
<option value='Far Rockaway - Mott Av'> Far Rockaway - Mott Av </option>
<option value='Beach 90 St'> Beach 90 St </option>
<option value='Beach 98 St'> Beach 98 St </option>
<option value='Beach 105 St'> Beach 105 St </option>
<option value='Rockaway Park - Beach 116 St'> Rockaway Park - Beach 116 St </option>
<option value='121 St'> 121 St </option>
<option value='85 St - Forest Pkwy'> 85 St - Forest Pkwy </option>
<option value='75 St'> 75 St </option>
<option value='Cypress Hills'> Cypress Hills </option>
<option value='Crescent St'> Crescent St </option>
<option value='Norwood Av'> Norwood Av </option>
<option value='Cleveland St'> Cleveland St </option>
<option value='Alabama Av'> Alabama Av </option>
<option value='Chauncey St'> Chauncey St </option>
<option value='Halsey St'> Halsey St </option>
<option value='Gates Av'> Gates Av </option>
<option value='Kosciuszko St'> Kosciuszko St </option>
<option value='8 Av'> 8 Av </option>
<option value='6 Av'> 6 Av </option>
<option value='Union Sq - 14 St'> Union Sq - 14 St </option>
<option value='3 Av'> 3 Av </option>
<option value='1 Av'> 1 Av </option>
<option value='Bedford Av'> Bedford Av </option>
<option value='Lorimer St'> Lorimer St </option>
<option value='Graham Av'> Graham Av </option>
<option value='Montrose Av'> Montrose Av </option>
<option value='Morgan Av'> Morgan Av </option>
<option value='Jefferson St'> Jefferson St </option>
<option value='DeKalb Av'> DeKalb Av </option>
<option value='Myrtle - Wyckoff Avs'> Myrtle - Wyckoff Avs </option>
<option value='Wilson Av'> Wilson Av </option>
<option value='Bushwick Av - Aberdeen St'> Bushwick Av - Aberdeen St </option>
<option value='Atlantic Av'> Atlantic Av </option>
<option value='Sutter Av'> Sutter Av </option>
<option value='Livonia Av'> Livonia Av </option>
<option value='E 105 St'> E 105 St </option>
<option value='Canarsie - Rockaway Pkwy'> Canarsie - Rockaway Pkwy </option>
<option value='Middle Village - Metropolitan Av'> Middle Village - Metropolitan Av </option>
<option value='Fresh Pond Rd'> Fresh Pond Rd </option>
<option value='Forest Av'> Forest Av </option>
<option value='Seneca Av'> Seneca Av </option>
<option value='Knickerbocker Av'> Knickerbocker Av </option>
<option value='Central Av'> Central Av </option>
<option value='Myrtle Av'> Myrtle Av </option>
<option value='Hewes St'> Hewes St </option>
<option value='Marcy Av'> Marcy Av </option>
<option value='Essex St'> Essex St </option>
<option value='Bowery'> Bowery </option>
<option value='Broad St'> Broad St </option>
<option value='New Utrecht Av'> New Utrecht Av </option>
<option value='Astoria - Ditmars Blvd'> Astoria - Ditmars Blvd </option>
<option value='Astoria Blvd'> Astoria Blvd </option>
<option value='30 Av'> 30 Av </option>
<option value='36 Av'> 36 Av </option>
<option value='39 Av'> 39 Av </option>
<option value='Lexington Av/59 St'> Lexington Av/59 St </option>
<option value='5 Av/59 St'> 5 Av/59 St </option>
<option value='57 St - 7 Av'> 57 St - 7 Av </option>
<option value='49 St'> 49 St </option>
<option value='8 St - NYU'> 8 St - NYU </option>
<option value='Prince St'> Prince St </option>
<option value='City Hall'> City Hall </option>
<option value='Whitehall St'> Whitehall St </option>
<option value='Court St'> Court St </option>
<option value='Union St'> Union St </option>
<option value='9 St'> 9 St </option>
<option value='25 St'> 25 St </option>
<option value='45 St'> 45 St </option>
<option value='53 St'> 53 St </option>
<option value='Bay Ridge Av'> Bay Ridge Av </option>
<option value='Bay Ridge - 95 St'> Bay Ridge - 95 St </option>
<option value='Botanic Garden'> Botanic Garden </option>
<option value='Tottenville'> Tottenville </option>
<option value='Atlantic'> Atlantic </option>
<option value='Nassau'> Nassau </option>
<option value='Richmond Valley'> Richmond Valley </option>
<option value='Pleasant Plains'> Pleasant Plains </option>
<option value='Prince's Bay'> Prince's Bay </option>
<option value='Huguenot'> Huguenot </option>
<option value='Annadale'> Annadale </option>
<option value='Eltingville'> Eltingville </option>
<option value='Great Kills'> Great Kills </option>
<option value='Bay Terrace'> Bay Terrace </option>
<option value='Oakwood Heights'> Oakwood Heights </option>
<option value='New Dorp'> New Dorp </option>
<option value='Grant City'> Grant City </option>
<option value='Jefferson Av'> Jefferson Av </option>
<option value='Dongan Hills'> Dongan Hills </option>
<option value='Old Town'> Old Town </option>
<option value='Grasmere'> Grasmere </option>
<option value='Clifton'> Clifton </option>
<option value='Stapleton'> Stapleton </option>
<option value='Tompkinsville'> Tompkinsville </option>
<option value='St George'> St George </option>
</select>
<br><br>
<button type="submit" name="submit" value="Submit"> Submit </button>
                            <!-- Search javascript -->
                            <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
                            <script type="text/javascript">
                              var input1=document.getElementById('start');
                              var input2=document.getElementById('end');

                              var options={componentRestrictions: {country: 'us'}};
                              new google.maps.places.Autocomplete(input1, options);
                              new google.maps.places.Autocomplete(input2, options);
                            </script>
                          </div>
                </div>
            </div>
        </div>
    </section>




    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Start Bootstrap</h2>
                <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
                <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Yasmeen Roumie and Cindy Li</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../static/style/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/style/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/style/js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/style/js/grayscale.js"></script>

    <script src="../static/animate.js"></script>
    <!--
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsvu3vJPPUS-VZM3bb7-KII5YyjmvyhPk&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>
      -->
{% endblock body %}
